<div class="space">

    <div class="mini">
        <img src="..\assets\mini.jfif" alt="sorry" class="im" style="margin-top: 50px;">
        <div class="overlay">
            <h2>Mini-Project</h2>
            <h3>Currency Recognition For Visually Impaired People Indian</h3>
            <p>The Android Studio app assists visually impaired individuals by recognizing Indian currency through
                advanced image processing. It employs pattern recognition to determine denominations and provides
                real-time voice or tactile feedback, enhancing independence in daily financial transactions. This
                innovative tool combines technology and accessibility to empower users in confidently handling
                currency-related tasks.</p>
        </div>
    </div>


    <div class="major">


        <img src="..\assets\major.jfif" alt="" class="im">

        <div class="overlay">
            <h2>Major-Project</h2>
            <h3>Cognitive radio network for minimizing network traffic</h3>
            <p>An Adaptive Radio Network mitigates network congestion. Cognitive Radio Networks (CRN) intelligently
                manage spectrum utilization, employing advanced machine learning and spectrum sensing to detect and
                allocate underutilized frequency bands dynamically. CRNs adapt to real-time network conditions,
                promoting efficient coexistence and reducing congestion, thereby improving overall wireless network
                performance and user experiences.</p>
        </div>


    </div>
</div>