.logo {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.html,
.css,
.js,
.angular,
.mysql,
.mongo,
.java {
  width: 400px;
  height: 265px;
  border: 1px solid;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

p {
  font-family: monospace;
  font-weight: bold;
}
.bar {
  background-color: gray;
  display: block;
  height: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 1px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.bar span {
  height: 15px;
  float: left;
  background: linear-gradient(
    135deg,
    rgba(236, 0, 140, 1) 0%,
    rgba(252, 103, 103, 1) 100%
  );
  border-radius: 15px;
}
.htmlbar {
  width: 90%;
  animation: htmlbar 3s;
}
.cssbar {
  width: 75%;
  animation: cssbar 3s;
}
.jsbar {
  width: 80%;
  animation: jsbar 3s;
}
.angbar {
  width: 85%;
  animation: angbar 3s;
}
.sqlbar {
  width: 70%;
  animation: sqlbar 3s;
}
.mongobar {
  width: 86%;
  animation: mongobar 3s;
}
.javabar {
  width: 71%;
  animation: javabar 3s;
}

@media (min-width: 640px) {
  .child {
    width: calc(25%-10px);
  }
}
@media (min-width: 940px) {
  .child {
    width: calc(20%-10px);
  }
}
